* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #353942;

}

/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
}

/* Set minimum height to fill the screen */
/* .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
/* 
.Content {
  flex: 1; /* Fill remaining vertical space */

/* .Footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  /* position: fixed; */

